div.container h1 {
    color: white;
    font-weight: bold;
}

ul.replist {
    margin: 0;
    padding: 0;
}

li.rep-item {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 20px 10px 0 10px;
    
  }

  li.rep-item p, li.rep-item h3 {
      color: white;
      font-weight: bold;
      text-align: left;
  }

  .li.rep-item h3 {
    font-size: 24px;
    letter-spacing: normal;
    margin: 0 0 32px 0;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2), transparent);
  }

  div.margin-0 {
      margin: 0;
      padding:0;
  }
  .rep-img {
      width: 190px;
      height: 285px;
  }

  .center {
      text-align: center;       
  }

  ul.replist h3, ul.replist p {
    font-family: Arial, Helvetica, sans-serif;
  }

  .details-header {
      margin-bottom: 30px;
  }
  .details-header h3 {
    margin-top: 0;
  }

  .center h3 {
      /*margin-top: 0; */
      text-align: center !important;
  }
  .info-blok div {
      color: white;
      font: bold;
  }
  .btn_details {
      margin: 20px 0 20px 0;
  }

  .btn_details button {
      border: solid 2px #cec9c9;
      border-radius: 5px;
      background-color: #222121;
      color: white;
  }

  .btn_details:hover button {
    background: transparent;
    color: white;
    
    }

    a.btn {
        background-color: #1a1717;
        margin-right: 5px;
        color: whitesmoke;
    }

    a.btn h3 {
        color: #f0a70b;
        margin-top: 0;
    }

    hr.nomargin {
        margin: 0;
    }

    hr.nopadding {
        padding: 0;
    }
