  
  .header {
   /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    display: block;
  }

  #before_nav{
    /*background-color: #e8c13f; */
    background: transparent /*url("../images/header_sun.jpg") no-repeat fixed 0 0*/;
    background-size: contain; 
    width: 100%;
    height: 100px;

  }

  #before_nav img {
    width: 100%;
    height: inherit;
  }

  #nav-wrap {
    background-color: #222;
    font: 12px 'opensans-bold';
    font-family: 'sans-serif';
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;      
  }
  
  ul {
    list-style: none outside;
    
  }
  
  ul#nav {
    text-align: center;
    font-weight: bold;
    margin: 0;
    
  }
  
  ul#nav li {
    
    position: relative;
    display: inline-block;
    padding: 20px;
    cursor: pointer;       
  }
  
  ul#nav li a {
    color: #d8d2d2;
    text-decoration: none;
    cursor: pointer;  
  }

  ul#nav li a:hover {
    color: #fff;
    
  }
  
  ul#nav li a.active {
    color: #F06000;
    transition: 1s ;
  }

ul#nav li a.dropdown {
    position: relative;
    display: inline-block;
 }

  .dropdown-content {
      opacity: 0;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
      padding: 12px 16px;
      z-index: 1;
  }

  
  

  ul#nav li a.dropdown:hover + .dropdown-content{
      opacity: 1;
      transition: .8s ease;
        
  } 
  