  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  #before_nav{
    
    background: transparent url("../images/header_sun.jpg") no-repeat fixed 0 0;
    width: inherit;
    height: 80px;

  }

  #nav-wrap {
    background-color: #222;
    font: 12px 'opensans-bold';
    font-family: 'sans-serif';
    width: inherit;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;      
  }
  
  ul {
    list-style: none outside;
    
  }
  
  ul#nav {
    text-align: center;
    font-weight: bold;
    margin: 0;
    
  }
  
  ul#nav li {
    
    position: relative;
    display: inline-block;
    padding: 20px;
    cursor: pointer;       
  }
  
  ul#nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul#nav li.current a {
    color: #F06000;
  }
  
  
  .list-item {
    background-color: rgba(255, 255, 255, 0.1);
  }